{
  "selected_paths": [
    "/athlete",
    "/athlete/zones",
    "/athletes/{id}/stats",
    "/athlete/activities",
    "/activities/{id}",
    "/activities/{id}/streams",
    "/activities/{id}/zones"
  ],
  "source_urls": [
    "https://developers.strava.com/swagger/swagger.json",
    "https://developers.strava.com/swagger/athlete.json",
    "https://developers.strava.com/swagger/activity.json",
    "https://developers.strava.com/swagger/activity_stats.json",
    "https://developers.strava.com/swagger/stream.json",
    "https://developers.strava.com/swagger/zones.json",
    "https://developers.strava.com/swagger/fault.json"
  ],
  "official_spec": {
    "openapi": "3.0.3",
    "info": {
      "title": "Strava API v3",
      "description": "The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.",
      "version": "3.0.0"
    },
    "servers": [
      {
        "url": "https://www.strava.com/api/v3"
      }
    ],
    "security": [
      {
        "strava_oauth": []
      }
    ],
    "paths": {
      "/athlete": {
        "get": {
          "operationId": "getLoggedInAthlete",
          "summary": "Get Authenticated Athlete",
          "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
          "tags": [
            "Athletes"
          ],
          "security": [
            {
              "strava_oauth": [
                "profile:read_all"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Profile information for the authenticated athlete.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DetailedAthlete"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athlete/zones": {
        "get": {
          "operationId": "getLoggedInAthleteZones",
          "summary": "Get Zones",
          "description": "Returns the the authenticated athlete's heart rate and power zones. Requires profile:read_all.",
          "tags": [
            "Athletes"
          ],
          "security": [
            {
              "strava_oauth": [
                "profile:read_all"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Heart rate and power zones.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zones"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athletes/{id}/stats": {
        "get": {
          "operationId": "getStats",
          "summary": "Get Athlete Stats",
          "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
          "tags": [
            "Athletes"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the athlete. Must match the authenticated athlete.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Activity stats of the athlete.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityStats"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athlete/activities": {
        "get": {
          "operationId": "getLoggedInAthleteActivities",
          "summary": "List Athlete Activities",
          "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "before",
              "in": "query",
              "description": "An epoch timestamp to use for filtering activities that have taken place before a certain time.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "An epoch timestamp to use for filtering activities that have taken place after a certain time.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number. Defaults to 1.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Number of items per page. Defaults to 30.",
              "schema": {
                "type": "integer",
                "default": 30
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The authenticated athlete's activities",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SummaryActivity"
                    }
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}": {
        "get": {
          "operationId": "getActivityById",
          "summary": "Get Activity",
          "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.\n\nWe strongly encourage you to display the appropriate attribution that identifies Garmin as the data source and the device name in your application. Please see example below from VeloViewer (that provides an attribution for a Garmin Forerunner device).\n\n![Attribution](/images/device-attribution-image.png)",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "include_all_efforts",
              "in": "query",
              "description": "To include all segments efforts.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The activity's detailed representation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DetailedActivity"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}/streams": {
        "get": {
          "operationId": "getActivityStreams",
          "summary": "Get Activity Streams",
          "description": "Returns the given activity's streams. Requires activity:read scope. Requires activity:read_all scope for Only Me activities.",
          "tags": [
            "Streams"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "keys",
              "in": "query",
              "description": "Desired stream types.",
              "required": true,
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "enum": [
                    "time",
                    "distance",
                    "latlng",
                    "altitude",
                    "velocity_smooth",
                    "heartrate",
                    "cadence",
                    "watts",
                    "temp",
                    "moving",
                    "grade_smooth"
                  ]
                }
              },
              "style": "form",
              "explode": false
            },
            {
              "name": "key_by_type",
              "in": "query",
              "description": "Must be true.",
              "required": true,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The set of requested streams.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/StreamSet"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}/zones": {
        "get": {
          "operationId": "getZonesByActivityId",
          "summary": "Get Activity Zones",
          "description": "Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Activity Zones.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityZone"
                    }
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "strava_oauth": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://www.strava.com/api/v3/oauth/authorize",
              "tokenUrl": "https://www.strava.com/api/v3/oauth/token",
              "scopes": {
                "read": "Read public segments, public routes, public profile data, public posts, public events, club feeds, and leaderboards",
                "read_all": "Read private routes, private segments, and private events for the user",
                "profile:read_all": "Read all profile information even if the user has set their profile visibility to Followers or Only You",
                "profile:write": "Update the user's weight and Functional Threshold Power (FTP), and access to star or unstar segments on their behalf",
                "activity:read": "Read the user's activity data for activities that are visible to Everyone and Followers, excluding privacy zone data",
                "activity:read_all": "The same access as activity:read, plus privacy zone data and access to read the user's activities with visibility set to Only You",
                "activity:write": "Access to create manual activities and uploads, and access to edit any activities that are visible to the app, based on activity read access level"
              }
            }
          }
        }
      },
      "schemas": {
        "DetailedAthlete": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SummaryAthlete"
            },
            {
              "properties": {
                "follower_count": {
                  "type": "integer",
                  "description": "The athlete's follower count."
                },
                "friend_count": {
                  "type": "integer",
                  "description": "The athlete's friend count."
                },
                "measurement_preference": {
                  "type": "string",
                  "enum": [
                    "feet",
                    "meters"
                  ],
                  "description": "The athlete's preferred unit system."
                },
                "ftp": {
                  "type": "integer",
                  "description": "The athlete's FTP (Functional Threshold Power)."
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "The athlete's weight."
                },
                "clubs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryClub"
                  },
                  "description": "The athlete's clubs."
                },
                "bikes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryGear"
                  },
                  "description": "The athlete's bikes."
                },
                "shoes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryGear"
                  },
                  "description": "The athlete's shoes."
                }
              }
            }
          ]
        },
        "Fault": {
          "description": "Encapsulates the errors that may be returned from the API.",
          "type": "object",
          "properties": {
            "errors": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Error"
              },
              "description": "The set of specific errors associated with this fault, if any."
            },
            "message": {
              "type": "string",
              "description": "The message of the fault."
            }
          }
        },
        "Zones": {
          "type": "object",
          "properties": {
            "heart_rate": {
              "$ref": "#/components/schemas/HeartRateZoneRanges"
            },
            "power": {
              "$ref": "#/components/schemas/PowerZoneRanges"
            }
          }
        },
        "ActivityStats": {
          "description": "A set of rolled-up statistics and totals for an athlete",
          "properties": {
            "biggest_ride_distance": {
              "type": "number",
              "format": "double",
              "description": "The longest distance ridden by the athlete."
            },
            "biggest_climb_elevation_gain": {
              "type": "number",
              "format": "double",
              "description": "The highest climb ridden by the athlete."
            },
            "recent_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "recent_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "recent_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            }
          }
        },
        "SummaryActivity": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaActivity"
            },
            {
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "The identifier provided at upload time"
                },
                "upload_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The identifier of the upload that resulted in this activity"
                },
                "athlete": {
                  "$ref": "#/components/schemas/MetaAthlete"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the activity"
                },
                "distance": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's distance, in meters"
                },
                "moving_time": {
                  "type": "integer",
                  "description": "The activity's moving time, in seconds"
                },
                "elapsed_time": {
                  "type": "integer",
                  "description": "The activity's elapsed time, in seconds"
                },
                "total_elevation_gain": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's total elevation gain."
                },
                "elev_high": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's highest elevation, in meters"
                },
                "elev_low": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's lowest elevation, in meters"
                },
                "type": {
                  "$ref": "#/components/schemas/ActivityType"
                },
                "sport_type": {
                  "$ref": "#/components/schemas/SportType"
                },
                "start_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the activity was started."
                },
                "start_date_local": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the activity was started in the local timezone."
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone of the activity"
                },
                "start_latlng": {
                  "$ref": "#/components/schemas/LatLng"
                },
                "end_latlng": {
                  "$ref": "#/components/schemas/LatLng"
                },
                "achievement_count": {
                  "type": "integer",
                  "description": "The number of achievements gained during this activity"
                },
                "kudos_count": {
                  "type": "integer",
                  "description": "The number of kudos given for this activity"
                },
                "comment_count": {
                  "type": "integer",
                  "description": "The number of comments for this activity"
                },
                "athlete_count": {
                  "type": "integer",
                  "description": "The number of athletes for taking part in a group activity",
                  "minimum": 1
                },
                "photo_count": {
                  "type": "integer",
                  "description": "The number of Instagram photos for this activity"
                },
                "total_photo_count": {
                  "type": "integer",
                  "description": "The number of Instagram and Strava photos for this activity"
                },
                "map": {
                  "$ref": "#/components/schemas/PolylineMap"
                },
                "device_name": {
                  "type": "string",
                  "description": "The name of the device used to record the activity"
                },
                "trainer": {
                  "type": "boolean",
                  "description": "Whether this activity was recorded on a training machine"
                },
                "commute": {
                  "type": "boolean",
                  "description": "Whether this activity is a commute"
                },
                "manual": {
                  "type": "boolean",
                  "description": "Whether this activity was created manually"
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether this activity is private"
                },
                "flagged": {
                  "type": "boolean",
                  "description": "Whether this activity is flagged"
                },
                "workout_type": {
                  "type": "integer",
                  "description": "The activity's workout type"
                },
                "upload_id_str": {
                  "type": "string",
                  "description": "The unique identifier of the upload in string format"
                },
                "average_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's average speed, in meters per second"
                },
                "max_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's max speed, in meters per second"
                },
                "has_kudoed": {
                  "type": "boolean",
                  "description": "Whether the logged-in athlete has kudoed this activity"
                },
                "hide_from_home": {
                  "type": "boolean",
                  "description": "Whether the activity is muted"
                },
                "gear_id": {
                  "type": "string",
                  "description": "The id of the gear for the activity"
                },
                "kilojoules": {
                  "type": "number",
                  "format": "float",
                  "description": "The total work done in kilojoules during this activity. Rides only"
                },
                "average_watts": {
                  "type": "number",
                  "format": "float",
                  "description": "Average power output in watts during this activity. Rides only"
                },
                "device_watts": {
                  "type": "boolean",
                  "description": "Whether the watts are from a power meter, false if estimated"
                },
                "max_watts": {
                  "type": "integer",
                  "description": "Rides with power meter data only"
                },
                "weighted_average_watts": {
                  "type": "integer",
                  "description": "Similar to Normalized Power. Rides with power meter data only"
                }
              }
            }
          ]
        },
        "DetailedActivity": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SummaryActivity"
            },
            {
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description of the activity"
                },
                "photos": {
                  "$ref": "#/components/schemas/PhotosSummary"
                },
                "gear": {
                  "$ref": "#/components/schemas/SummaryGear"
                },
                "calories": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of kilocalories consumed during this activity"
                },
                "segment_efforts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedSegmentEffort"
                  }
                },
                "device_name": {
                  "type": "string",
                  "description": "The name of the device used to record the activity"
                },
                "embed_token": {
                  "type": "string",
                  "description": "The token used to embed a Strava activity"
                },
                "splits_metric": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Split"
                  },
                  "description": "The splits of this activity in metric units (for runs)"
                },
                "splits_standard": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Split"
                  },
                  "description": "The splits of this activity in imperial units (for runs)"
                },
                "laps": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lap"
                  }
                },
                "best_efforts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedSegmentEffort"
                  }
                }
              }
            }
          ]
        },
        "StreamSet": {
          "type": "object",
          "properties": {
            "time": {
              "$ref": "#/components/schemas/TimeStream"
            },
            "distance": {
              "$ref": "#/components/schemas/DistanceStream"
            },
            "latlng": {
              "$ref": "#/components/schemas/LatLngStream"
            },
            "altitude": {
              "$ref": "#/components/schemas/AltitudeStream"
            },
            "velocity_smooth": {
              "$ref": "#/components/schemas/SmoothVelocityStream"
            },
            "heartrate": {
              "$ref": "#/components/schemas/HeartrateStream"
            },
            "cadence": {
              "$ref": "#/components/schemas/CadenceStream"
            },
            "watts": {
              "$ref": "#/components/schemas/PowerStream"
            },
            "temp": {
              "$ref": "#/components/schemas/TemperatureStream"
            },
            "moving": {
              "$ref": "#/components/schemas/MovingStream"
            },
            "grade_smooth": {
              "$ref": "#/components/schemas/SmoothGradeStream"
            }
          }
        },
        "ActivityZone": {
          "type": "object",
          "properties": {
            "score": {
              "type": "integer"
            },
            "distribution_buckets": {
              "$ref": "#/TimedZoneDistribution"
            },
            "type": {
              "type": "string",
              "enum": [
                "heartrate",
                "power"
              ]
            },
            "sensor_based": {
              "type": "boolean"
            },
            "points": {
              "type": "integer"
            },
            "custom_zones": {
              "type": "boolean"
            },
            "max": {
              "type": "integer"
            }
          }
        },
        "SummaryAthlete": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaAthlete"
            },
            {
              "properties": {
                "resource_state": {
                  "type": "integer",
                  "description": "Resource state, indicates level of detail. Possible values: 1 -> \"meta\", 2 -> \"summary\", 3 -> \"detail\""
                },
                "firstname": {
                  "type": "string",
                  "description": "The athlete's first name."
                },
                "lastname": {
                  "type": "string",
                  "description": "The athlete's last name."
                },
                "profile_medium": {
                  "type": "string",
                  "description": "URL to a 62x62 pixel profile picture."
                },
                "profile": {
                  "type": "string",
                  "description": "URL to a 124x124 pixel profile picture."
                },
                "city": {
                  "type": "string",
                  "description": "The athlete's city."
                },
                "state": {
                  "type": "string",
                  "description": "The athlete's state or geographical region."
                },
                "country": {
                  "type": "string",
                  "description": "The athlete's country."
                },
                "sex": {
                  "type": "string",
                  "description": "The athlete's sex.",
                  "enum": [
                    "M",
                    "F"
                  ]
                },
                "premium": {
                  "type": "boolean",
                  "description": "Deprecated.  Use summit field instead. Whether the athlete has any Summit subscription."
                },
                "summit": {
                  "type": "boolean",
                  "description": "Whether the athlete has any Summit subscription."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the athlete was created."
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the athlete was last updated."
                }
              }
            }
          ]
        },
        "SummaryClub": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaClub"
            },
            {
              "properties": {
                "profile_medium": {
                  "type": "string",
                  "description": "URL to a 60x60 pixel profile picture."
                },
                "cover_photo": {
                  "type": "string",
                  "description": "URL to a ~1185x580 pixel cover photo."
                },
                "cover_photo_small": {
                  "type": "string",
                  "description": "URL to a ~360x176  pixel cover photo."
                },
                "sport_type": {
                  "type": "string",
                  "enum": [
                    "cycling",
                    "running",
                    "triathlon",
                    "other"
                  ],
                  "description": "Deprecated. Prefer to use activity_types."
                },
                "activity_types": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  },
                  "description": "The activity types that count for a club. This takes precedence over sport_type."
                },
                "city": {
                  "type": "string",
                  "description": "The club's city."
                },
                "state": {
                  "type": "string",
                  "description": "The club's state or geographical region."
                },
                "country": {
                  "type": "string",
                  "description": "The club's country."
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether the club is private."
                },
                "member_count": {
                  "type": "integer",
                  "description": "The club's member count."
                },
                "featured": {
                  "type": "boolean",
                  "description": "Whether the club is featured or not."
                },
                "verified": {
                  "type": "boolean",
                  "description": "Whether the club is verified or not."
                },
                "url": {
                  "type": "string",
                  "description": "The club's vanity URL."
                }
              }
            }
          ]
        },
        "SummaryGear": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The gear's unique identifier."
            },
            "resource_state": {
              "type": "integer",
              "description": "Resource state, indicates level of detail. Possible values: 2 -> \"summary\", 3 -> \"detail\""
            },
            "primary": {
              "type": "boolean",
              "description": "Whether this gear's is the owner's default one."
            },
            "name": {
              "type": "string",
              "description": "The gear's name."
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The distance logged with this gear."
            }
          }
        },
        "Error": {
          "type": "object",
          "properties": {
            "code": {
              "description": "The code associated with this error.",
              "type": "string"
            },
            "field": {
              "description": "The specific field or aspect of the resource associated with this error.",
              "type": "string"
            },
            "resource": {
              "description": "The type of resource associated with this error.",
              "type": "string"
            }
          }
        },
        "HeartRateZoneRanges": {
          "type": "object",
          "properties": {
            "custom_zones": {
              "type": "boolean",
              "description": "Whether the athlete has set their own custom heart rate zones"
            },
            "zones": {
              "$ref": "#/components/schemas/ZoneRanges"
            }
          }
        },
        "PowerZoneRanges": {
          "type": "object",
          "properties": {
            "zones": {
              "$ref": "#/components/schemas/ZoneRanges"
            }
          }
        },
        "ActivityTotal": {
          "type": "object",
          "description": "A roll-up of metrics pertaining to a set of activities. Values are in seconds and meters.",
          "properties": {
            "count": {
              "type": "integer",
              "description": "The number of activities considered in this total."
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The total distance covered by the considered activities."
            },
            "moving_time": {
              "type": "integer",
              "description": "The total moving time of the considered activities."
            },
            "elapsed_time": {
              "type": "integer",
              "description": "The total elapsed time of the considered activities."
            },
            "elevation_gain": {
              "type": "number",
              "format": "float",
              "description": "The total elevation gain of the considered activities."
            },
            "achievement_count": {
              "type": "integer",
              "description": "The total number of achievements of the considered activities."
            }
          }
        },
        "MetaActivity": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of the activity"
            }
          }
        },
        "MetaAthlete": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of the athlete"
            }
          }
        },
        "ActivityType": {
          "type": "string",
          "enum": [
            "AlpineSki",
            "BackcountrySki",
            "Canoeing",
            "Crossfit",
            "EBikeRide",
            "Elliptical",
            "Golf",
            "Handcycle",
            "Hike",
            "IceSkate",
            "InlineSkate",
            "Kayaking",
            "Kitesurf",
            "NordicSki",
            "Ride",
            "RockClimbing",
            "RollerSki",
            "Rowing",
            "Run",
            "Sail",
            "Skateboard",
            "Snowboard",
            "Snowshoe",
            "Soccer",
            "StairStepper",
            "StandUpPaddling",
            "Surfing",
            "Swim",
            "Velomobile",
            "VirtualRide",
            "VirtualRun",
            "Walk",
            "WeightTraining",
            "Wheelchair",
            "Windsurf",
            "Workout",
            "Yoga"
          ],
          "description": "An enumeration of the types an activity may have. Note that this enumeration does not include new sport types (e.g. MountainBikeRide, EMountainBikeRide), activities with these sport types will have the corresponding activity type (e.g. Ride for MountainBikeRide, EBikeRide for EMountainBikeRide)"
        },
        "SportType": {
          "type": "string",
          "enum": [
            "AlpineSki",
            "BackcountrySki",
            "Badminton",
            "Canoeing",
            "Crossfit",
            "EBikeRide",
            "Elliptical",
            "EMountainBikeRide",
            "Golf",
            "GravelRide",
            "Handcycle",
            "HighIntensityIntervalTraining",
            "Hike",
            "IceSkate",
            "InlineSkate",
            "Kayaking",
            "Kitesurf",
            "MountainBikeRide",
            "NordicSki",
            "Pickleball",
            "Pilates",
            "Racquetball",
            "Ride",
            "RockClimbing",
            "RollerSki",
            "Rowing",
            "Run",
            "Sail",
            "Skateboard",
            "Snowboard",
            "Snowshoe",
            "Soccer",
            "Squash",
            "StairStepper",
            "StandUpPaddling",
            "Surfing",
            "Swim",
            "TableTennis",
            "Tennis",
            "TrailRun",
            "Velomobile",
            "VirtualRide",
            "VirtualRow",
            "VirtualRun",
            "Walk",
            "WeightTraining",
            "Wheelchair",
            "Windsurf",
            "Workout",
            "Yoga"
          ],
          "description": "An enumeration of the sport types an activity may have. Distinct from ActivityType in that it has new types (e.g. MountainBikeRide)"
        },
        "LatLng": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "minItems": 2,
          "maxItems": 2,
          "description": "A pair of latitude/longitude coordinates, represented as an array of 2 floating point numbers."
        },
        "PolylineMap": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the map"
            },
            "polyline": {
              "type": "string",
              "description": "The polyline of the map, only returned on detailed representation of an object"
            },
            "summary_polyline": {
              "type": "string",
              "description": "The summary polyline of the map"
            }
          }
        },
        "PhotosSummary": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "The number of photos"
            },
            "primary": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64"
                },
                "source": {
                  "type": "integer"
                },
                "unique_id": {
                  "type": "string"
                },
                "urls": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "DetailedSegmentEffort": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SummarySegmentEffort"
            },
            {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the segment on which this effort was performed"
                },
                "activity": {
                  "$ref": "#/components/schemas/MetaActivity"
                },
                "athlete": {
                  "$ref": "#/components/schemas/MetaAthlete"
                },
                "moving_time": {
                  "type": "integer",
                  "description": "The effort's moving time"
                },
                "start_index": {
                  "type": "integer",
                  "description": "The start index of this effort in its activity's stream"
                },
                "end_index": {
                  "type": "integer",
                  "description": "The end index of this effort in its activity's stream"
                },
                "average_cadence": {
                  "type": "number",
                  "format": "float",
                  "description": "The effort's average cadence"
                },
                "average_watts": {
                  "type": "number",
                  "format": "float",
                  "description": "The average wattage of this effort"
                },
                "device_watts": {
                  "type": "boolean",
                  "description": "For riding efforts, whether the wattage was reported by a dedicated recording device"
                },
                "average_heartrate": {
                  "type": "number",
                  "format": "float",
                  "description": "The heart heart rate of the athlete during this effort"
                },
                "max_heartrate": {
                  "type": "number",
                  "format": "float",
                  "description": "The maximum heart rate of the athlete during this effort"
                },
                "segment": {
                  "$ref": "#/components/schemas/SummarySegment"
                },
                "kom_rank": {
                  "type": "integer",
                  "description": "The rank of the effort on the global leaderboard if it belongs in the top 10 at the time of upload",
                  "minimum": 1,
                  "maximum": 10
                },
                "pr_rank": {
                  "type": "integer",
                  "description": "The rank of the effort on the athlete's leaderboard if it belongs in the top 3 at the time of upload",
                  "minimum": 1,
                  "maximum": 3
                },
                "hidden": {
                  "type": "boolean",
                  "description": "Whether this effort should be hidden when viewed within an activity"
                }
              }
            }
          ]
        },
        "Split": {
          "type": "object",
          "properties": {
            "average_speed": {
              "type": "number",
              "format": "float",
              "description": "The average speed of this split, in meters per second"
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The distance of this split, in meters"
            },
            "elapsed_time": {
              "type": "integer",
              "description": "The elapsed time of this split, in seconds"
            },
            "elevation_difference": {
              "type": "number",
              "format": "float",
              "description": "The elevation difference of this split, in meters"
            },
            "pace_zone": {
              "type": "integer",
              "description": "The pacing zone of this split"
            },
            "moving_time": {
              "type": "integer",
              "description": "The moving time of this split, in seconds"
            },
            "split": {
              "type": "integer",
              "description": "N/A"
            }
          }
        },
        "Lap": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of this lap"
            },
            "activity": {
              "$ref": "#/components/schemas/MetaActivity"
            },
            "athlete": {
              "$ref": "#/components/schemas/MetaAthlete"
            },
            "average_cadence": {
              "type": "number",
              "format": "float",
              "description": "The lap's average cadence"
            },
            "average_speed": {
              "type": "number",
              "format": "float",
              "description": "The lap's average speed"
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The lap's distance, in meters"
            },
            "elapsed_time": {
              "type": "integer",
              "description": "The lap's elapsed time, in seconds"
            },
            "start_index": {
              "type": "integer",
              "description": "The start index of this effort in its activity's stream"
            },
            "end_index": {
              "type": "integer",
              "description": "The end index of this effort in its activity's stream"
            },
            "lap_index": {
              "type": "integer",
              "description": "The index of this lap in the activity it belongs to"
            },
            "max_speed": {
              "type": "number",
              "format": "float",
              "description": "The maximum speed of this lat, in meters per second"
            },
            "moving_time": {
              "type": "integer",
              "description": "The lap's moving time, in seconds"
            },
            "name": {
              "type": "string",
              "description": "The name of the lap"
            },
            "pace_zone": {
              "type": "integer",
              "description": "The athlete's pace zone during this lap"
            },
            "split": {
              "type": "integer"
            },
            "start_date": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which the lap was started."
            },
            "start_date_local": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which the lap was started in the local timezone."
            },
            "total_elevation_gain": {
              "type": "number",
              "format": "float",
              "description": "The elevation gain of this lap, in meters"
            }
          }
        },
        "TimeStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The sequence of time values for this stream, in seconds"
                }
              }
            }
          ]
        },
        "DistanceStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "The sequence of distance values for this stream, in meters"
                }
              }
            }
          ]
        },
        "LatLngStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LatLng"
                  },
                  "description": "The sequence of lat/long values for this stream"
                }
              }
            }
          ]
        },
        "AltitudeStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "The sequence of altitude values for this stream, in meters"
                }
              }
            }
          ]
        },
        "SmoothVelocityStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "The sequence of velocity values for this stream, in meters per second"
                }
              }
            }
          ]
        },
        "HeartrateStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The sequence of heart rate values for this stream, in beats per minute"
                }
              }
            }
          ]
        },
        "CadenceStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The sequence of cadence values for this stream, in rotations per minute"
                }
              }
            }
          ]
        },
        "PowerStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The sequence of power values for this stream, in watts"
                }
              }
            }
          ]
        },
        "TemperatureStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The sequence of temperature values for this stream, in celsius degrees"
                }
              }
            }
          ]
        },
        "MovingStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "boolean"
                  },
                  "description": "The sequence of moving values for this stream, as boolean values"
                }
              }
            }
          ]
        },
        "SmoothGradeStream": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseStream"
            },
            {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "The sequence of grade values for this stream, as percents of a grade"
                }
              }
            }
          ]
        },
        "MetaClub": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The club's unique identifier."
            },
            "resource_state": {
              "type": "integer",
              "description": "Resource state, indicates level of detail. Possible values: 1 -> \"meta\", 2 -> \"summary\", 3 -> \"detail\""
            },
            "name": {
              "type": "string",
              "description": "The club's name."
            }
          }
        },
        "ZoneRanges": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ZoneRange"
          }
        },
        "SummarySegmentEffort": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of this effort"
            },
            "activity_id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of the activity related to this effort"
            },
            "elapsed_time": {
              "type": "integer",
              "description": "The effort's elapsed time"
            },
            "start_date": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which the effort was started."
            },
            "start_date_local": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which the effort was started in the local timezone."
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The effort's distance in meters"
            },
            "is_kom": {
              "type": "boolean",
              "description": "Whether this effort is the current best on the leaderboard"
            }
          }
        },
        "SummarySegment": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of this segment"
            },
            "name": {
              "type": "string",
              "description": "The name of this segment"
            },
            "activity_type": {
              "type": "string",
              "enum": [
                "Ride",
                "Run"
              ]
            },
            "distance": {
              "type": "number",
              "format": "float",
              "description": "The segment's distance, in meters"
            },
            "average_grade": {
              "type": "number",
              "format": "float",
              "description": "The segment's average grade, in percents"
            },
            "maximum_grade": {
              "type": "number",
              "format": "float",
              "description": "The segments's maximum grade, in percents"
            },
            "elevation_high": {
              "type": "number",
              "format": "float",
              "description": "The segments's highest elevation, in meters"
            },
            "elevation_low": {
              "type": "number",
              "format": "float",
              "description": "The segments's lowest elevation, in meters"
            },
            "start_latlng": {
              "$ref": "#/components/schemas/LatLng"
            },
            "end_latlng": {
              "$ref": "#/components/schemas/LatLng"
            },
            "climb_category": {
              "type": "integer",
              "description": "The category of the climb [0, 5]. Higher is harder ie. 5 is Hors catégorie, 0 is uncategorized in climb_category."
            },
            "city": {
              "type": "string",
              "description": "The segments's city."
            },
            "state": {
              "type": "string",
              "description": "The segments's state or geographical region."
            },
            "country": {
              "type": "string",
              "description": "The segment's country."
            },
            "private": {
              "type": "boolean",
              "description": "Whether this segment is private."
            },
            "athlete_pr_effort": {
              "$ref": "#/components/schemas/SummaryPRSegmentEffort"
            },
            "athlete_segment_stats": {
              "$ref": "#/components/schemas/SummarySegmentEffort"
            }
          }
        },
        "BaseStream": {
          "type": "object",
          "properties": {
            "original_size": {
              "type": "integer",
              "description": "The number of data points in this stream"
            },
            "resolution": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ],
              "description": "The level of detail (sampling) in which this stream was returned"
            },
            "series_type": {
              "type": "string",
              "enum": [
                "distance",
                "time"
              ],
              "description": "The base series used in the case the stream was downsampled"
            }
          }
        },
        "ZoneRange": {
          "type": "object",
          "properties": {
            "min": {
              "type": "integer",
              "description": "The minimum value in the range."
            },
            "max": {
              "type": "integer",
              "description": "The maximum value in the range."
            }
          }
        },
        "SummaryPRSegmentEffort": {
          "type": "object",
          "properties": {
            "pr_activity_id": {
              "type": "integer",
              "format": "int64",
              "description": "The unique identifier of the activity related to the PR effort."
            },
            "pr_elapsed_time": {
              "type": "integer",
              "description": "The elapsed time ot the PR effort."
            },
            "pr_date": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which the PR effort was started."
            },
            "effort_count": {
              "type": "integer",
              "description": "Number of efforts by the authenticated athlete on this segment."
            }
          }
        }
      }
    }
  },
  "spec": {
    "openapi": "3.1.0",
    "info": {
      "title": "Strava API v3",
      "description": "The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.",
      "version": "3.0.0+strava-coach.1"
    },
    "servers": [
      {
        "url": "https://www.strava.com/api/v3"
      }
    ],
    "security": [
      {
        "strava_oauth": []
      }
    ],
    "paths": {
      "/athlete": {
        "get": {
          "operationId": "getLoggedInAthlete",
          "summary": "Get Authenticated Athlete",
          "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
          "tags": [
            "Athletes"
          ],
          "security": [
            {
              "strava_oauth": [
                "profile:read_all"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Profile information for the authenticated athlete.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DetailedAthlete"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athlete/zones": {
        "get": {
          "operationId": "getLoggedInAthleteZones",
          "summary": "Get Zones",
          "description": "Returns the the authenticated athlete's heart rate and power zones. Requires profile:read_all.",
          "tags": [
            "Athletes"
          ],
          "security": [
            {
              "strava_oauth": [
                "profile:read_all"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Heart rate and power zones.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zones"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athletes/{id}/stats": {
        "get": {
          "operationId": "getStats",
          "summary": "Get Athlete Stats",
          "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
          "tags": [
            "Athletes"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the athlete. Must match the authenticated athlete.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Activity stats of the athlete.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityStats"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/athlete/activities": {
        "get": {
          "operationId": "getLoggedInAthleteActivities",
          "summary": "List Athlete Activities",
          "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "before",
              "in": "query",
              "description": "An epoch timestamp to use for filtering activities that have taken place before a certain time.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "An epoch timestamp to use for filtering activities that have taken place after a certain time.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number. Defaults to 1.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "per_page",
              "in": "query",
              "description": "Number of items per page. Defaults to 30.",
              "schema": {
                "type": "integer",
                "default": 30
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The authenticated athlete's activities",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SummaryActivity"
                    }
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}": {
        "get": {
          "operationId": "getActivityById",
          "summary": "Get Activity",
          "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities and activity:read_all for Only Me activities.",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "include_all_efforts",
              "in": "query",
              "description": "To include all segments efforts.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The activity's detailed representation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DetailedActivity"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}/streams": {
        "get": {
          "operationId": "getActivityStreams",
          "summary": "Get Activity Streams",
          "description": "Returns the given activity's streams. Requires activity:read scope. Requires activity:read_all scope for Only Me activities.",
          "tags": [
            "Streams"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "keys",
              "in": "query",
              "description": "Desired stream types.",
              "required": true,
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "enum": [
                    "time",
                    "distance",
                    "latlng",
                    "altitude",
                    "velocity_smooth",
                    "heartrate",
                    "cadence",
                    "watts",
                    "temp",
                    "moving",
                    "grade_smooth"
                  ]
                }
              },
              "style": "form",
              "explode": false
            },
            {
              "name": "key_by_type",
              "in": "query",
              "description": "Must be true.",
              "required": true,
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "resolution",
              "in": "query",
              "description": "Sampling hint for returned stream density. Observed-supported values are low, medium, and high.",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The set of requested streams.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/StreamSet"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      },
      "/activities/{id}/zones": {
        "get": {
          "operationId": "getZonesByActivityId",
          "summary": "Get Activity Zones",
          "description": "Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
          "tags": [
            "Activities"
          ],
          "security": [
            {
              "strava_oauth": [
                "activity:read"
              ]
            },
            {
              "strava_oauth": [
                "activity:read_all"
              ]
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The identifier of the activity.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Activity Zones.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityZone"
                    }
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Fault"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "strava_oauth": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://www.strava.com/api/v3/oauth/authorize",
              "tokenUrl": "https://www.strava.com/api/v3/oauth/token",
              "scopes": {
                "read": "Read public segments, public routes, public profile data, public posts, public events, club feeds, and leaderboards",
                "read_all": "Read private routes, private segments, and private events for the user",
                "profile:read_all": "Read all profile information even if the user has set their profile visibility to Followers or Only You",
                "profile:write": "Update the user's weight and Functional Threshold Power (FTP), and access to star or unstar segments on their behalf",
                "activity:read": "Read the user's activity data for activities that are visible to Everyone and Followers, excluding privacy zone data",
                "activity:read_all": "The same access as activity:read, plus privacy zone data and access to read the user's activities with visibility set to Only You",
                "activity:write": "Access to create manual activities and uploads, and access to edit any activities that are visible to the app, based on activity read access level"
              }
            }
          }
        }
      },
      "schemas": {
        "DetailedAthlete": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SummaryAthlete"
            },
            {
              "properties": {
                "follower_count": {
                  "type": "integer",
                  "description": "The athlete's follower count."
                },
                "friend_count": {
                  "type": "integer",
                  "description": "The athlete's friend count."
                },
                "measurement_preference": {
                  "type": "string",
                  "enum": [
                    "feet",
                    "meters"
                  ],
                  "description": "The athlete's preferred unit system."
                },
                "ftp": {
                  "type": "integer",
                  "description": "The athlete's FTP (Functional Threshold Power)."
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "The athlete's weight."
                },
                "clubs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryClub"
                  },
                  "description": "The athlete's clubs."
                },
                "bikes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryGear"
                  },
                  "description": "The athlete's bikes."
                },
                "shoes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryGear"
                  },
                  "description": "The athlete's shoes."
                }
              }
            }
          ]
        },
        "Fault": {
          "description": "Encapsulates the errors that may be returned from the API.",
          "type": "object",
          "properties": {
            "errors": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Error"
              },
              "description": "The set of specific errors associated with this fault, if any."
            },
            "message": {
              "type": "string",
              "description": "The message of the fault."
            }
          }
        },
        "Zones": {
          "type": "object",
          "properties": {
            "heart_rate": {
              "$ref": "#/components/schemas/HeartRateZoneRanges"
            },
            "power": {
              "$ref": "#/components/schemas/PowerZoneRanges"
            }
          }
        },
        "ActivityStats": {
          "description": "A set of rolled-up statistics and totals for an athlete",
          "properties": {
            "biggest_ride_distance": {
              "type": "number",
              "format": "double",
              "description": "The longest distance ridden by the athlete."
            },
            "biggest_climb_elevation_gain": {
              "type": "number",
              "format": "double",
              "description": "The highest climb ridden by the athlete."
            },
            "recent_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "recent_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "recent_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "ytd_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_ride_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_run_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            },
            "all_swim_totals": {
              "$ref": "#/components/schemas/ActivityTotal"
            }
          }
        },
        "SummaryActivity": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaActivity"
            },
            {
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "The identifier provided at upload time"
                },
                "upload_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The identifier of the upload that resulted in this activity"
                },
                "athlete": {
                  "$ref": "#/components/schemas/MetaAthlete"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the activity"
                },
                "distance": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's distance, in meters"
                },
                "moving_time": {
                  "type": "integer",
                  "description": "The activity's moving time, in seconds"
                },
                "elapsed_time": {
                  "type": "integer",
                  "description": "The activity's elapsed time, in seconds"
                },
                "total_elevation_gain": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's total elevation gain."
                },
                "elev_high": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's highest elevation, in meters"
                },
                "elev_low": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's lowest elevation, in meters"
                },
                "type": {
                  "$ref": "#/components/schemas/ActivityType"
                },
                "sport_type": {
                  "$ref": "#/components/schemas/SportType"
                },
                "start_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the activity was started."
                },
                "start_date_local": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the activity was started in the local timezone."
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone of the activity"
                },
                "start_latlng": {
                  "$ref": "#/components/schemas/LatLng"
                },
                "end_latlng": {
                  "$ref": "#/components/schemas/LatLng"
                },
                "achievement_count": {
                  "type": "integer",
                  "description": "The number of achievements gained during this activity"
                },
                "kudos_count": {
                  "type": "integer",
                  "description": "The number of kudos given for this activity"
                },
                "comment_count": {
                  "type": "integer",
                  "description": "The number of comments for this activity"
                },
                "athlete_count": {
                  "type": "integer",
                  "description": "The number of athletes for taking part in a group activity",
                  "minimum": 1
                },
                "photo_count": {
                  "type": "integer",
                  "description": "The number of Instagram photos for this activity"
                },
                "total_photo_count": {
                  "type": "integer",
                  "description": "The number of Instagram and Strava photos for this activity"
                },
                "map": {
                  "$ref": "#/components/schemas/PolylineMap"
                },
                "device_name": {
                  "type": "string",
                  "description": "The name of the device used to record the activity"
                },
                "trainer": {
                  "type": "boolean",
                  "description": "Whether this activity was recorded on a training machine"
                },
                "commute": {
                  "type": "boolean",
                  "description": "Whether this activity is a commute"
                },
                "manual": {
                  "type": "boolean",
                  "description": "Whether this activity was created manually"
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether this activity is private"
                },
                "flagged": {
                  "type": "boolean",
                  "description": "Whether this activity is flagged"
                },
                "workout_type": {
                  "type": "integer",
                  "description": "The activity's workout type"
                },
                "upload_id_str": {
                  "type": "string",
                  "description": "The unique identifier of the upload in string format"
                },
                "average_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's average speed, in meters per second"
                },
                "max_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "The activity's max speed, in meters per second"
                },
                "has_kudoed": {
                  "type": "boolean",
                  "description": "Whether the logged-in athlete has kudoed this activity"
                },
                "hide_from_home": {
                  "type": "boolean",
                  "description": "Whether the activity is muted"
                },
                "gear_id": {
                  "type": "string",
                  "description": "The id of the gear for the activity"
                },
                "kilojoules": {
                  "type": "number",
                  "format": "float",
                  "description": "The total work done in kilojoules during this activity. Rides only"
                },
                "average_watts": {
                  "type": "number",
                  "format": "float",
                  "description": "Average power output in watts during this activity. Rides only"
                },
                "device_watts": {
                  "type": "boolean",
                  "description": "Whether the watts are from a power meter, false if estimated"
                },
                "max_watts": {
                  "type": "integer",
                  "description": "Rides with power meter data only"
                },
                "weighted_average_watts": {
                  "type": "integer",
                  "description": "Similar to Normalized Power. Rides with power meter data only"
                }
              }
            }
          ]
        },
        "DetailedActivity": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SummaryActivity"
            },
            {
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description of the activity"
                },
                "photos": {
                  "$ref": "#/components/schemas/PhotosSummary"
                },
                "gear": {
                  "$ref": "#/components/schemas/SummaryGear"
                },
                "calories": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of kilocalories consumed during this activity"
                },
                "segment_efforts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedSegmentEffort"
                  }
                },
                "device_name": {
                  "type": "string",
                  "description": "The name of the device used to record the activity"
                },
                "embed_token": {
                  "type": "string",
                  "description": "The token used to embed a Strava activity"
                },
                "splits_metric": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Split"
                  },
                  "description": "The splits of this activity in metric units (for runs)"
                },
                "splits_standard": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Split"
                  },
                  "description": "The splits of this activity in imperial units (for runs)"
                },
                "laps": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lap"
                  }
                },
                "best_efforts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedSegmentEffort"
                  }
                }
              }
            }
          ]
        },
        "StreamSet": {
          "type": "object",
          "properties": {
            "time": {
              "$ref": "#/components/schemas/TimeStream"
            },
            "distance": {
              "$ref": "#/components/schemas/DistanceStream"
            },
            "latlng": {
              "$ref": "#/components/schemas/LatLngStream"
            },
            "altitude": {
              "$ref": "#/components/schemas/AltitudeStream"
            },
            "velocity_smooth": {
              "$ref": "#/components/schemas/SmoothVelocityStream"
            },
            "heartrate": {
              "$ref": "#/components/schemas/HeartrateStream"
            },
            "cadence": {
              "$ref": "#/components/schemas/CadenceStream"
            },
            "watts": {
              "$ref": "#/components/schemas/PowerStream"
            },
            "temp": {
              "$ref": "#/components/schemas/TemperatureStream"
            },
            "moving": {
              "$ref": "#/components/schemas/MovingStream"
            },
            "grade_smooth": {
              "$ref": "#/components/schemas/SmoothGradeStream"
            }
          }
        },
        "ActivityZone": {
          "type": "object",
          "properties": {
            "score": {
              "type": "integer"
            },
            "distribution_buckets": {
              "$ref": "#/components/schemas/TimedZoneDistribution"
            },
            "type": {
              "type": "string",
              "enum": [
                "heartrate",
                "power"
              ]
            },
            "sensor_based": {
              "type": "boolean"
            },
            "points": {
              "type": "integer"
            },
            "custom_zones": {
              "type": "boolean"
            },
            "max": {
              "type": "integer"
            }
          }
        },
        "SummaryAthlete": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaAthlete"
            },
            {
              "properties": {
                "resource_state": {
                  "type": "integer",
                  "description": "Resource state, indicates level of detail. Possible values: 1 -> \"meta\", 2 -> \"summary\", 3 -> \"detail\""
                },
                "firstname": {
                  "type": "string",
                  "description": "The athlete's first name."
                },
                "lastname": {
                  "type": "string",
                  "description": "The athlete's last name."
                },
                "profile_medium": {
                  "type": "string",
                  "description": "URL to a 62x62 pixel profile picture."
                },
                "profile": {
                  "type": "string",
                  "description": "URL to a 124x124 pixel profile picture."
                },
                "city": {
                  "type": "string",
                  "description": "The athlete's city."
                },
                "state": {
                  "type": "string",
                  "description": "The athlete's state or geographical region."
                },
                "country": {
                  "type": "string",
                  "description": "The athlete's country."
                },
                "sex": {
                  "type": "string",
                  "description": "The athlete's sex.",
                  "enum": [
                    "M",
                    "F"
                  ]
                },
                "premium": {
                  "type": "boolean",
                  "description": "Deprecated.  Use summit field instead. Whether the athlete has any Summit subscription."
                },
                "summit": {
                  "type": "boolean",
                  "description": "Whether the athlete has any Summit subscription."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the athlete was created."
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The time at which the athlete was last updated."
                }
              }
            }
          ]
        },
        "SummaryClub": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetaClub"
            },
            {
              "properties": {
                "profile_medium": {
                  "type": "string",
                  "description": "URL to a 60x60 pixel profile picture."
                },
                "cover_photo": {
                  "type": "string",
                  "description": "URL to a ~1185x580 pixel cover photo."
                },
                "cover_photo_small": {
                  "type": "string",
                  "description": "URL to a ~360x176  pixel cover photo."
                },
                "sport_type": {
                  "type": "string",
                  "enum": [
                    "cycling",
                    "running",
                    "triathlon",
                    "other"
                  ],
[...]
