{{ define "main" }}
  {{ partial "page-header" . }}

  <article
    class="gdoc-markdown gdoc-markdown__align--{{ default "left" (.Page.Params.geekdocAlign | lower) }}{{ if eq .Params.sourceFile "system_prompt.md" }} prompt-source{{ end }}"
    id="main-content" tabindex="-1"
  >
    <h1>{{ partial "utils/title" . }}</h1>
    {{ partial "page-metadata" . }}
    {{ .Content }}
    {{ with .Params.sourceFile }}
      {{ $allowedSourceFiles := dict
        "system_prompt.md" "system_prompt.md"
      }}
      {{ $resolvedSourceFile := index $allowedSourceFiles . }}
      {{ if not $resolvedSourceFile }}
        {{ errorf "unsupported sourceFile %q for %s" . $.File.Path }}
      {{ end }}
      <pre class="prompt-source__block" data-prompt-source-block tabindex="0"><code>{{- readFile $resolvedSourceFile -}}</code></pre>
    {{ end }}
  </article>
{{ end }}
